/**
	Skin: Simple Cross - White
	Por: Anyh S.
	© 2016 — www.anyhs-themes.tumblr.com
	
	♦ Não redistribua;
	♦ Não use como base;
	♦ Não remova ou adultere os créditos;
	♦ Ispire-se, só não copie.
**/

@font-face {font-family: 'Baumans'; font-style: normal; font-weight: 400; src: local('Baumans'), local('Baumans-Regular'), url(http://fonts.gstatic.com/s/baumans/v5/wUCl3MlBd3lTlYyjq93hYg.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}

#player,#player a{ color: #222; font-size: 12px; font-family: 'Baumans', sans-serif;}
#player{ background: none; background-position:bottom; font-size: 12px; font-family: 'Baumans', sans-serif; color:#000; margin-left: -5px;}
#player .mainImage{ background:url('https://31.media.tumblr.com/c24328e5867357f929da03bcf9b51072/tumblr_inline_ngu8457FIH1r2thyr.png'); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url('https://31.media.tumblr.com/1a46d6bc4da1a12580c7fd2fb9ca4b4e/tumblr_inline_nguic2TVmK1r2thyr.png'); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  font-size: 12px; }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px;}
#player #seekerBase{ background: none;}
#player #seekerBuffered{background: #000; opacity: .5;}
#player #seekerSliderBase{ background-color:#000;}

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width: 5px; height: 10px; margin-top: 7px; background: #000;}

#playlist,#playlist .module,#playlist h3{ border-color: none; background: none; color: #000;}
#playlist .module{  color:#000; background-color: none; }
#playlist .module ol {list-style: none; margin-top: 5px;}
#playlist .module ol  li{padding: 5px; font-size: 12px; transition: .9s;}
#playlist .module ol  li:hover {letter-spacing: 1px;}

#playlist h3{background:#000; color: #fff; font-family: 'Baumans', Helvetica, sans-serif; }
#playlist h3:after {content: "© anyhs-themes.tumblr.com"; float: right; font-size: 8px; text-transform: uppercase;}

#playlist .even{font-family: 'Baumans', Helvetica, sans-serif; }
#playlist .even:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

#playlist .odd{font-family: 'Baumans', Helvetica, sans-serif; }
#playlist .odd:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

#playlist .focus{ color:#000; background: rgba(0,0,0,.3); font-weight: bold;}

/**
	© 2016 — www.anyhs-themes.tumblr.com
**/