/**




	Mini Skin Cross #03
	Por: Anyh S.

	© 2016 — www.anyhs-themes.tumblr.com
	




	♦ Não repasse sem minha autorização;
	♦ Não use como base;
	♦ Se quiser uma base, pegue aqui: http://anyhs-themes.tumblr.com/base-para-skins
	♦ Ispire-se, mas não copie;
	♦ Plágio é crime!



**/

#player{background: transparent; font-size: 10px; font-family: 'Baumans', Helvetica, sans-serif; position: absolute; left: 0px; top: 0px; width: 200px;}
#player, #player a{color: transparent;}
#player .mainImage{background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-2/miniskin-flower-3-body.png'); background-repeat: no-repeat;}

#player #baseLeft{width: 93px;}
#player #baseRight{width: 0px;}
#player .button{width: 19px;}
#player #play{background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-2/miniskin-cross-3-play.png');}
#player #pause{background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-2/miniskin-cross-3-pause.png');}
#player #play,#player #pause{left: 19px; width: 19px;}
#player #previous{left: 0px; width: 19px;}
#player #next{left: 38px; width: 19px;}
#player #title{left: 100px; display: none;}
#player #jp-title{left: 100px; display: none;} /**** wik ****/
#player #tooltip{right: 196px; display: none;}
#player #timer{right: 120px; display: none;}

#player #list{left: 57px; width: 19px; position: relative;}
#player #list:after {content: "Volume:"; position: absolute; left: 100%; top: 4px; color: #fff; font-size: 9px; text-transform: uppercase; font-family: 'Ubuntu Condensed', sans-serif; margin-left: 6px;}

#player #seeker{right: 320px; display: none;}
#player #seekerBase{background: transparent; border: none;}
#player #seekerBuffered{background: transparent;}
#player #seekerSliderBase{background: transparent;}

#player #volume{left: 81px; width: 30px; height: 4px; border: 1px solid #fff; border-radius: 2px; margin-top: 13px;}
#player #volumeSlider{width: 2px; height: 5px; background: #fff;}

#playlist {font-family: 'Ubuntu', Helvetica, sans-serif; font-size: 12px; border: none; outline: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;}
#playlist,#playlist .module,#playlist h3{border: none;}
#playlist h3 {border-bottom: 1px solid #fff; padding: 5px; font-weight: normal;}
#playlist h3:after {content: "© anyhs-themes.tumblr.com"; float: right; bottom: 0px; font-size: 10px; text-transform: uppercase; font-family: 'Ubuntu Condensed', sans-serif;}

#playlist .module{background-color: transparent; color: #fff; font-family: 'Ubuntu', Helvetica, sans-serif;}
#playlist .module ol {list-style: none; margin-top: 5px;}
#playlist .module ol  li{padding: 5px; transition: .9s;}
#playlist .module ol  li:hover {letter-spacing: 1px;}

#playlist .even{font-family: 'Ubuntu', Helvetica, sans-serif; }
#playlist .even:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

#playlist .odd{font-family: 'Ubuntu', Helvetica, sans-serif; }
#playlist .odd:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

#playlist .focus{background: #fff; color: #000; font-family: 'Ubuntu', Helvetica, sans-serif; letter-spacing: 2px;}
#playlist .focus:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

::-webkit-scrollbar {width: 5px; height: 5px; background: #000;}
::-webkit-scrollbar-thumb {background: #fff; border: 2px solid #000;}


/* latin */
@font-face {
  font-family: 'Baumans';
  font-style: normal;
  font-weight: 400;
  src: local('Baumans'), local('Baumans-Regular'), url(https://fonts.gstatic.com/s/baumans/v5/wUCl3MlBd3lTlYyjq93hYg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/**

	© 2016 — www.anyhs-themes.tumblr.com

**/
