/**



    — EXCLUSIVE MINI SKIN FOR: Drica Martinez —
    by Anyh Salinas ©
    www.anyhs-themes.tumblr.com
           
    (Last update: 14/03/2019 — 13:10hrs)


    TERMS OF USE:
    ♦ Don't remove, adulterate or move my credits;
    ♦ Don't redistribute this code nor parts of it;
    ♦ Don't take this code nor parts of it to create/upgrade other code(s);
    ♦ Inspiration is allowed, as long as you don't copy my designs entirely



**/


#player {background: transparent; font-size: 10px; cursor: default;}
#player .mainImage{}

#player #baseLeft {width: 100%;}
#player #baseRight {width: 0px;}
#player .button {width: 12px;}

#player #play, #player #pause, #player #previous, #player #next, #player #list {background-repeat: no-repeat; background-position: 0px 0px;}

#player #play {background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/123/play.png'); background-color: green;}
#player #pause {background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/123/pause.png'); background-color: lime;}
#player #play, #player #pause {left: 32px; width: 12px;}
#player #previous {left: 20px; width: 12px; background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/123/previous.png'); background-color: red;}
#player #next {left: 44px; width: 12px; background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/123/next.png'); background-color: blue;}
#player #play, #player #pause, #player #previous, #player #next {cursor: pointer;}

#player #title, #player #jp-title {left: 68px; bottom: 0px; height: 9px; font-size: 9px; line-height: 9px; letter-spacing: .5px; font-family: 'Armata', Helvetica, sans-serif; text-transform: uppercase; color: #888; text-shadow: 0px 0px 1px rgba(0,0,0,.5); background: violet;}

#player #tooltip{right: 196px; display: none;}
#player #timer{right: 120px; display: none;}

#player #list{left: 56px; width: 12px; position: relative; background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/123/menu.png'); background-color: yellow;}

#player #seeker{right: 320px; display: none;}
#player #seekerBase{background: transparent; border: none;}
#player #seekerBuffered{background: transparent;}
#player #seekerSliderBase{background: transparent;}

#player #volume{left: 68px; width: 30px; height: 4px; border: 1px solid #888; margin-top: 13px; background: turquoise;}
#player #volume:before {content: "Volume:"; font-size: 9px; line-height: 9px; letter-spacing: .5px; font-family: 'Armata', Helvetica, sans-serif; text-transform: uppercase; }
#player #volumeSlider{width: 2px; height: 5px; background: #888;}

#playlist, #playlist .module, #playlist .module ol li, #playlist h3 {font-family: 'Changa', Helvetica, sans-serif; color: #888; font-size: 10px; text-transform: uppercase;}

#playlist {cursor: default;}
#playlist h3 {padding: 5px; border: none; font-weight: normal; font-size: 16px; line-height: 16px; border: none; text-align: center;}

#playlist .module {background: transparent; color: #888; margin: 0px;}
#playlist .module:nth-of-type(2) {margin-top: 4px;}
#playlist .module ol {list-style: decimal-leading-zero inside; width: calc(100% - 4px);}
#playlist .module ol  li {margin: 2px; transition: .5s; cursor: pointer;}
#playlist .module ol  li:hover {opacity: .5;}

#playlist .even{}
#playlist .odd{}
#playlist .focus{border: 1px solid #888; border-left: none; border-right: none; padding: 2px; padding-left: 3px;}

#playlist .module ol:before {content: "© Skin by: anyhs-themes.tumblr.com"; position: absolute; left: 0px; bottom: 0px; width: 100%; padding: 5px 0px; text-align: center; font-size: 8px; line-height: 8px; text-transform: uppercase; font-family: 'Armata', sans-serif; color: #888; text-shadow: 0px 0px 0px #888; border: 1px solid #888; border-left: 0px; border-right: 0px;}

::-webkit-scrollbar {width: 5px; height: 5px;}
::-webkit-scrollbar-thumb {background: #888; }


/* arabic */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 200;
  src: local('Changa ExtraLight'), local('Changa-ExtraLight'), url(https://fonts.gstatic.com/s/changa/v4/2-cl9JNi2YuVOUcsqb2rUM74nZg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 200;
  src: local('Changa ExtraLight'), local('Changa-ExtraLight'), url(https://fonts.gstatic.com/s/changa/v4/2-cl9JNi2YuVOUcsqb2rW874nZg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 200;
  src: local('Changa ExtraLight'), local('Changa-ExtraLight'), url(https://fonts.gstatic.com/s/changa/v4/2-cl9JNi2YuVOUcsqb2rVc74.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata Regular'), local('Armata-Regular'), url(https://fonts.gstatic.com/s/armata/v8/gokvH63_HV5jQ-ENnTR2c2s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata Regular'), local('Armata-Regular'), url(https://fonts.gstatic.com/s/armata/v8/gokvH63_HV5jQ-ENkzR2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/**

	© 2019 — www.anyhs-themes.tumblr.com

**/
