/**



		Mini Skin: Buttons - Transparent Black
		Por: Anyh S.

		© 2018 — www.anyhs-themes.tumblr.com
	


	♦ Não reposte, nem redistribua este código em lugar nenhum;
	♦ Não use como base (se quiser uma base, pegue aqui: http://anyhs-themes.tumblr.com/post/149002551222);
	♦ Ispire-se, mas não copie!



**/


#player, #player a{color: transparent;}
#player{background: transparent; font-size: 10px; font-family: 'Baumans', Helvetica, sans-serif;}
#player .mainImage{background-repeat: no-repeat;}

#player #baseLeft{width: 93px;}
#player #baseRight{width: 0px;}
#player .button{width: 25px;}
#player #play{background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-3/miniskin-buttons-transparent-black-play.png');}
#player #pause{background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-3/miniskin-buttons-transparent-black-pause.png');}
#player #play,#player #pause{left: 25px; width: 25px; background: green;}
#player #previous{left: 0px; width: 25px; background: yellow;}
#player #next{left: 500px; width: 25px; background: blue;}
#player #title{left: 90px; background: turquoise;}
#player #jp-title{left: 100px; display: none;} /**** wik ****/
#player #tooltip{right: 196px; display: none;}
#player #timer{right: 120px; display: none;}

#player #list{left: 75px; width: 25px; position: relative; background: red;}
#player #list:after {content: "Volume:"; position: absolute; left: 100%; top: 4px; color: #000; font-size: 9px; text-transform: uppercase; font-family: 'Ubuntu Condensed', sans-serif; margin-left: 6px;}

#player #seeker{right: 320px; display: none;}
#player #seekerBase{background: transparent; border: none;}
#player #seekerBuffered{background: transparent;}
#player #seekerSliderBase{background: transparent;}

#player #volume{left: 81px; width: 30px; height: 4px; border: 1px solid #000; border-radius: 2px; margin-top: 13px;}
#player #volumeSlider{width: 2px; height: 5px; background: #000;}

#playlist {font-family: 'Baumans', Helvetica, sans-serif; font-size: 12px; border: none; outline: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;}
#playlist,#playlist .module,#playlist h3{border: none;}
#playlist h3 {border-bottom: 1px solid #000; padding: 5px; font-weight: normal;}
#playlist h3:after {content: "© anyhs-themes.tumblr.com"; float: right; bottom: 0px; font-size: 10px; text-transform: uppercase; font-family: 'Ubuntu Condensed', sans-serif;}

#playlist .module{background-color: transparent; color: #000; font-family: 'Baumans', Helvetica, sans-serif;}
#playlist .module ol {list-style: none; margin-top: 5px;}
#playlist .module ol  li{padding: 5px; transition: .9s;}
#playlist .module ol  li:hover {letter-spacing: 1px;}

#playlist .even{font-family: 'Baumans', Helvetica, sans-serif; }
#playlist .even:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

#playlist .odd{font-family: 'Baumans', Helvetica, sans-serif; }
#playlist .odd:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

#playlist .focus{background: #000; color: #fff; font-family: 'Baumans', Helvetica, sans-serif; letter-spacing: 2px;}
#playlist .focus:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

::-webkit-scrollbar {width: 5px; height: 5px; background: #fff;}
::-webkit-scrollbar-thumb {background: #000; border: 2px solid #fff;}


@import url('https://fonts.googleapis.com/css?family=Baumans|Ubuntu+Condensed');


/**

	© 2018 — www.anyhs-themes.tumblr.com

**/
