/**



		Mini Skin: Buttons - Transparent Black
		Por: Anyh S.

		© 2018 — www.anyhs-themes.tumblr.com
	


	♦ Não reposte, nem redistribua este código em lugar nenhum;
	♦ Não use como base (se quiser uma base, pegue aqui: http://anyhs-themes.tumblr.com/post/149002551222);
	♦ Ispire-se, mas não copie!



**/


#player {background: transparent; font-size: 10px;}
#player .mainImage{}

#player #baseLeft{width: 100%;}
#player #baseRight{width: 0px;}
#player .button{width: 25px;}

#player #play{background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-3/miniskin-buttons-transparent-black-play.png');}
#player #pause{background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-3/miniskin-buttons-transparent-black-pause.png');}
#player #play,#player #pause{left: 25px; width: 25px;}
#player #previous{left: 0px; width: 25px; background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-3/miniskin-buttons-transparent-black-prev.png');}
#player #next{left: 50px; width: 25px; background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-3/miniskin-buttons-transparent-black-next.png');}

#player #title, #player #jp-title {left: 100px; height: 11px; font-size: 11px; font-family: 'Changa', Helvetica, sans-serif; color: #000; text-transform: uppercase; border-top: 4px double #000; border-bottom: 4px double #000;}
#player #title:before, #player #jp-title:before {content: "<before>"; color: red;}

#player #tooltip{right: 196px; display: none;}
#player #timer{right: 120px; display: none;}

#player #list{left: 75px; width: 25px; position: relative; background: url('https://raw.githubusercontent.com/anyhsalinas/skins/master/mini-skins-3/miniskin-buttons-transparent-black-menu.png');}

#player #seeker{right: 320px; display: none;}
#player #seekerBase{background: transparent; border: none;}
#player #seekerBuffered{background: transparent;}
#player #seekerSliderBase{background: transparent;}

#player #volume{display: inline-block; width: 30px; height: 4px; border: 1px solid #000; border-radius: 2px; margin-top: 13px;}
#player #volume:before {content: "Volume:"; position: absolute; left: 100%; top: 4px; color: #000; font-size: 9px; text-transform: uppercase; margin-left: 6px;}
#player #volumeSlider{width: 2px; height: 5px; background: #000;}

#playlist, #playlist .module, #playlist .module ol li, #playlist h3 {font-family: 'Changa', Helvetica, sans-serif; color: #000; font-size: 10px; text-transform: uppercase; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;}

#playlist h3 {padding: 5px; height: 26px; font-weight: normal; font-size: 16px; line-height: 16px; cursor: default; border: none;}
#playlist h3:before {content: "© Skin by: anyhs-themes.tumblr.com"; float: right; bottom: 0px; font-size: 9px; line-height: 16px; text-transform: uppercase; font-family: 'Changa', sans-serif;}


#playlist .module {background: transparent; color: #000; }
#playlist .module ol {list-style: none; margin-top: 5px;}
#playlist .module ol  li {padding: 5px; transition: .5s; }
#playlist .module ol  li:before {content: "♦"; margin-left: 0px; margin-right: 2px;}
#playlist .module ol  li:hover {opacity: .5;}

#playlist .even{}
#playlist .odd{}
#playlist .focus{border: 1px solid #000; border-left: none;}

::-webkit-scrollbar {width: 5px; height: 5px;}
::-webkit-scrollbar-thumb {background: #000; }


/* arabic */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 200;
  src: local('Changa ExtraLight'), local('Changa-ExtraLight'), url(https://fonts.gstatic.com/s/changa/v4/2-cl9JNi2YuVOUcsqb2rUM74nZg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 200;
  src: local('Changa ExtraLight'), local('Changa-ExtraLight'), url(https://fonts.gstatic.com/s/changa/v4/2-cl9JNi2YuVOUcsqb2rW874nZg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 200;
  src: local('Changa ExtraLight'), local('Changa-ExtraLight'), url(https://fonts.gstatic.com/s/changa/v4/2-cl9JNi2YuVOUcsqb2rVc74.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/**

	© 2018 — www.anyhs-themes.tumblr.com

**/
