/**




	Mini Skin Flower #01
	Por: Anyh S.

	© 2016 — www.anyhs-themes.tumblr.com
	




	♦ Não repasse sem minha autorização;
	♦ Não use como base;
	♦ Se quiser uma base, pegue aqui: http://anyhs-themes.tumblr.com/base-para-skins
	♦ Ispire-se, mas não copie;
	♦ Plágio é crime!



**/







@font-face {font-family: 'Baumans'; font-style: normal; font-weight: 400; src: local('Baumans'), local('Baumans-Regular'), url(http://fonts.gstatic.com/s/baumans/v5/wUCl3MlBd3lTlYyjq93hYg.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}


#player, #player a{color: transparent;}
#player{background: transparent; font-size: 10px; font-family: 'Baumans', Helvetica, sans-serif; text-transform: uppercase;}
#player .mainImage{background: url('https://36.media.tumblr.com/7f05c6169bfcbfa715a4393d7b3ffdc0/tumblr_inline_o4aau0bghb1r2thyr_540.png');}

#player #baseLeft{width: 93px;}
#player #baseRight{width: 145px;}
#player .button{width: 26px;}
#player #play{background: url('https://40.media.tumblr.com/0837ed94450702f929aa764855870f3d/tumblr_inline_o4aalqptqL1r2thyr_540.png');}
#player #pause{background: url('https://41.media.tumblr.com/d565f4267af80c79f594f27089979363/tumblr_inline_o4aalqvyH81r2thyr_540.png');}
#player #play,#player #pause{left: 0px; width: 22px;}
#player #previous{left: 22px; width: 26px;}
#player #next{left: 48px; width: 25px;}
#player #title{left: 100px; display: none;}
#player #jp-title{left: 100px; display: none;} /**** wik ****/
#player #tooltip{right: 196px; display: none;}
#player #timer{right: 120px; display: none;}
#player #list{left: 73px; width: 27px;}

#player #seeker{right: 320px; display: none;}
#player #seekerBase{background: transparent; border: none;}
#player #seekerBuffered{background: transparent;}
#player #seekerSliderBase{background: transparent;}

#player #volume{width: 65px; height: 10px; right: 39px; margin-top: 7px; background: transparent; display: none;}
#player #volumeSlider{width: 8px; height: 10px; background: transparent;}

#playlist,#playlist .module,#playlist h3{background-color: transparent; color: #ccc; font-weight: normal; font-family: 'Baumans', Helvetica, sans-serif; border: none; text-transform: uppercase; }
#playlist  {font-family: 'Baumans', Helvetica, sans-serif; }

#playlist h3 {background-position: top left; background-repeat: no-repeat;  border-bottom: 1px solid #ccc; font-size: 12px; padding: 5px;}
#playlist h3:after {content: "© anyhs-themes.tumblr.com"; float: right; font-size: 9px;}

#playlist .module{background-color: transparent; color: #ccc; font-family: 'Baumans', Helvetica, sans-serif;}
#playlist .module ol {list-style: none; margin-top: 5px;}
#playlist .module ol  li{padding: 5px; font-size: 9px; transition: .9s;}
#playlist .module ol  li:hover {letter-spacing: 1px;}

#playlist .even{font-family: 'Baumans', Helvetica, sans-serif; }
#playlist .even:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

#playlist .odd{font-family: 'Baumans', Helvetica, sans-serif; }
#playlist .odd:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

#playlist .focus{background: black; color: white; font-family: 'Baumans', Helvetica, sans-serif; letter-spacing: 2px;}
#playlist .focus:before {content: "♦"; margin-left: 0px; margin-right: 2px;}

::-webkit-scrollbar {width: 5px; height: 5px; background: black;}
::-webkit-scrollbar-thumb {background: #ccc; border: 1px solid black;}



/**

	© 2016 — www.anyhs-themes.tumblr.com

**/
